@import "../../../helpers/map";
@import "../../../helpers/mixin";
.signInContainer {
  border: 1px solid map-get($colors, dGrey);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 9px;
  background-color: white;
  width: 450px;
  padding: 23px;
  z-index: 1111111111111111;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include flex_colum(33px);
  .containerTitle {
    h2 {
      @include size_color(black, EH5-24, FW_H);
    }
  }

  .dontShow {
    display: none;
  }
  .containerInput {
    @include flex_colum(14px);
    form {
      @include flex_colum(15px);

      .regUser_input {
        position: relative;
        @include flex_colum(8px);

        .regError {
          @include size_color(sRed, PR4-12,FW_M)
        }
      }
      .signInBtn {
        width: 100%;
        button {
          cursor: pointer;
          width: 100%;
          height: 48px;
          border: 1px solid map-get($colors, primary);
          background-color: map-get($colors, primary);
          border-radius: 8px;
          @include size_color(lGrey, PR1-18, FW_M);
        }
      }
      label {
        @include size_color(black, PR2-16, FW_H);
      }
      input {
        font-size: 14px;
        width: 390px;
        height: 46px;
        border: none;
        background-color: map-get($colors, dGrey_3);
        border-radius: 8px;
        padding: 10px 16px 10px 16px;
        outline: none;
      }
      .togglePassword {
        position: absolute;
        top: 50px;
        right: 12px;
        transform: translateY(-50%);
        cursor: pointer;
        
        .passIcon {
          width: 23px;
          height: 23px;
        }
      }
    }
    .link {
      text-decoration: none;
    }
    span {
      cursor: pointer;
      @include size_color(primary, PR3-14, FW_M);
      text-align: end;
      margin-right: 15px;
    }
  }
  .containerButtons {
    @include flex_colum(16px);
    align-items: center;
    .otherMethod {
      @include flex(space-between, center);
      .leftBorder {
        width: 100px;
        border-top: 1px solid map-get($colors, dGrey);
      }
      span {
        @include size_color(secondary, PR2-16, FW_M);
      }
      .rightBorder {
        width: 100px;
        border-top: 1px solid map-get($colors, dGrey);
      }
    }
    .signFacebookBtn {
      .facebookIcon {
        text-align: center;
        width: 20px;
        height: 20px;
        color: #337fff;
      }
      button {
        cursor: pointer;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        width: 390px;
        height: 48px;
        border: 1px solid map-get($colors, dGrey);
        background-color: transparent;
        border-radius: 8px;
        @include size_color(black, PR1-18, FW_H);
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .signInContainer{
    width: 350px;
    gap: 30px;
    padding: 20px;
    .containerTitle {
      h2 {
        font-size: map-get($fonts, EH6-20);
      }
    }
    .containerInput {
      gap: 14px;
      form {
        input {
          width: 100%;
        }
      }
      span {
        margin-left: 48%;
      }
    }
    .containerButtons {
      .signinbtn {
        button {
          width: 290px;
          font-size: 16px;
        }
      }
      .otherMethod {
        .leftBorder {
          width: 80px;
        }
        span {
          font-size: 12px;
        }
        .rightBorder {
          width: 80px;
        }
      }
      .signFacebookBtn {
        width: 100%;
        .facebookIcon {
          margin-bottom: 3px;
        }
        button {
          width: 100%;
          font-size: 16px;
        }
      }
    }
  }
}
