@import '../../../helpers/mixin';
@import '../../../helpers/map';

button {
    width: 133px;
    padding: 14px 0;
    border-radius: 8px;
    background-color: inherit;
    border: 1px solid map-get($colors,primary);
    cursor: pointer;

    @include flex(center,center);
    @include flex_row(8px)
}

.bg_green {
    background-color: map-get($colors,primary );
}

.bg_green p,
.bg_green span{
    @include size_color(lGrey,H3-14,FW_M)
}

button p {
    @include size_color(primary,H3-14,FW_H)
}

button span {
    width: 24px;
    height: 24px;
    color: map-get($colors,primary);
}

button span svg {
    width: 100%;
    height: 100%;
}

//! Query for Ipad
@media screen and (min-width:1024px) {
    button {
        width: 180px;

        p {
            font-size: map-get($fonts, H2-18);
        }
    }

    .bg_green p,
    .bg_green span{
        font-size: map-get($fonts, H2-18);
    }
}

//! Query for desktop
@media screen and (min-width:1500px) {
    button {
        width: 180px;

        p {
            font-size: map-get($fonts, H2-18);
        }
    }

    .bg_green p,
    .bg_green span{
        font-size: map-get($fonts, H2-18);
    }
}